# Global settings used by most tools
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_ENCRYPT=no

# MSSQL Connections
DEV_DB="Server=dev-server,1433;Database=your_database;UID=your_user;PWD=your_password"
QA_DB="Server=qa-server,1433;Database=your_database;UID=your_user;PWD=your_password"
TEST_DB="Server=test-server,1433;Database=your_database;UID=your_user;PWD=your_password"
STAGE_DB="Server=stage-server,1433;Database=your_database;UID=your_user;PWD=your_password"
PROD_DB="Server=prod-server,1433;Database=your_database;UID=your_user;PWD=your_password"

# PostgreSQL Connections
PG_DEV_DB="postgresql://your_user:your_password@dev-server:5432/your_database"
PG_QA_DB="postgresql://your_user:your_password@qa-server:5432/your_database"
PG_TEST_DB="postgresql://your_user:your_password@test-server:5432/your_database"
PG_STAGE_DB="postgresql://your_user:your_password@stage-server:5432/your_database"
PG_PROD_DB="postgresql://your_user:your_password@prod-server:5432/your_database"
